
<div class="container">
  <h1>JackN's Blog</h1>
  <h3>My first Ruby on Rails application</h3>
  <%= render @articles %>
  <br>

  <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
</div>